body {
    font-family: Roboto, sans-serif;
}

.navbar-expand-lg {
    color:#fff;
}

.navbar {
    background-color:#6F1E51;
}

.card-img-top {
    height: 250px;
}

.carousel-item img {
    height: 550px;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color:#6F1E51;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover {
    color: #fff;
}

.navbar-toggler {
    background-color: #ffeae6;
}

.section-title {
    font-family: 'Niconne', cursive;
}

#sobre-o-restaurante, #cardapio {
    background-color: #ffeae6;
}

.text-colored {
    color: #6F1E51;
}


.nav-cardapio .nav-link.active,
#fale-conosco button,
.card-body button {
    background-color:#6F1E51;
    color: #fff;
}


.nav-cardapio .nav-link:hover {
    color:#6F1E51;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

footer {
    background-color:#6F1E51;
    color: #fff;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }
}